<div class="form-row">
    <div class="form-group col-md-6">
        <label for="NameCategory">Tên loại danh mục</label>
        <input type="text" class="form-control" id="NameCategory" placeholder="Tên danh mục">
    </div>
    <div class="form-group col-md-6">
        <label for="image">Chọn hình ảnh</label>
        <input type="file" class="form-control" id="image" placeholder="">
    </div>
</div>
<button onclick="addCategory()" class="btn btn-primary">Thêm</button>
